export(ps, dx.wts, get.weights, bal.table, ps.summary, stop.methods, sensitivity, bal.stat)

S3method(plot, ps)
S3method(plot, dxwts)
S3method(summary, ps)
S3method(print, summary.ps)
S3method(print, dxwts)

